body {
  margin: 0;
  overflow: hidden;
  height: 97vh;
  padding: 0 15vw 0 15vw;
}

nav {
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(168, 134, 255, 0.493);
}

#mainHeader {
  margin: 0;
  flex-grow: 30;
}

.nav-add-note {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
}

#noteTitle {
  margin-right: -5px;
  font-size: 17px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238);
  padding: 8px;
}

#addBtn {
  font-size: 17px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: rgba(168, 134, 255, 0.493);
  padding: 8px;
}

#addBtn:hover {
  background-color: rgba(168, 134, 255, 0.588);
}

/*  */

#noteList {
  font-size: 19px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#noteList li {
  display: flex;
  justify-content: space-between;
  padding: 20px 7px 18px 7px;
  border-bottom: 1px solid rgba(168, 134, 255, 0.493);
}

#noteList li a {
  color: black;
}

#confirmDeleteButton,
#cancelDeleteButton {
  border: none;
  width: 70px;
  height: 25px;
  font-size: 14px;
  background-color: rgba(168, 134, 255, 0.493);
}

#confirmDeleteButton:hover,
#cancelDeleteButton:hover {
  background-color: rgba(168, 134, 255, 0.588);
}

#deleteConfirmButtonsBlock {
  display: flex;
  margin: 0 15px;
  justify-content: space-between;
}

.delete-button {
  transition: 0.25s;
  height: 17px;
}

.delete-button:hover {
  transform: rotate(20deg);
}

/*  */

#addNoteTitle {
  margin: 0 0 20px 0;
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(168, 134, 255, 0.493);
}

#noteDetails {
  width: calc(70vw - 6px);
  padding: 0;
  height: 95%;
}

#addNoteContent {
  font-size: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border: 0;
  outline: none;
  padding: 2rem 2.5rem 3rem 3rem;
  height: 100%;
  resize: none;
  border-radius: 0;
}

#editWorkArea {
  display: flex;
  width: 55vh;
  height: 85vh;
  margin-left: calc((70vw - 55vh) / 2);
  flex-flow: column;
}

#controlPanel {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

#backButton,
#saveButton {
  width: 49%;
  border-radius: 0;
  height: 2.5rem;
  border: none;
  font-size: 15px;
  background-color: rgba(168, 134, 255, 0.493);
}

#backButton:hover,
#saveButton:hover {
  background-color: rgba(168, 134, 255, 0.588);
}

/*  */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  width: 200px;
  height: 80px;
  margin: 300px auto;
  padding: 5px 15px 20px 15px;
  text-align: center;
}

/*  */

#notificationContainer {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 20px;
  flex-flow: column;
}

.notification {
  background-color: #4caf4fd3;
  color: rgb(247, 247, 247);
  padding: 15px 30px;
  border-radius: 5px;
  z-index: 1000;
  margin-bottom: 13px;
}

.notification.error {
  background-color: #f44336;
}
